/* Preloader Mask Styles - NeoLeaf Reference Implementation */
.mask {
  position: relative;
  overflow: hidden;
  
  /* SVG mask for PASADA text shape */
  mask-image: url('./images/mask.svg');
  mask-position: center;
  mask-repeat: no-repeat;
  mask-size: 100% 100%;
  
  -webkit-mask-image: url('./images/mask.svg');
  -webkit-mask-position: center;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  
  /* Ensure proper rendering */
  will-change: transform;
  transform: translateZ(0);
  backface-visibility: hidden;
}
